/* BelowNavbarContent.module.css */
.container {
    display: flex;
    height: calc(582px - 88px);
    margin: 10px
  }
  
  .leftContent {
    flex: 1;
    padding: 16px;
  }
  
  .leftContent p {
    font-size: 24px;
    line-height: 1.2;
  }
  
  .leftContent p:last-child {
    color:  #FF0096
  }
  
  .leftContent > div {
    margin-top: 16px;
  }
  
  .rightContent {
    flex: 1;
  }
  
  .rightContent img {
    width: 571px;
    height: 541px;
  }
  